extends: default

ignore: |
  node_modules/
  dist/
  build/
  packages/*/dist/
  .git/
  .turbo/
  coverage/

rules:
  line-length:
    max: 120
    level: warning
  document-start: disable
  truthy: disable
